@use "../base/base" as *;

.btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: ease-in 0.3s;

    &--nav {
        color: $pink;
        background-color: transparent;
        border: 2px solid $pink;
        padding: 0.8rem 1.6rem;

        &:hover {
            color: $light-pink;
            border: 2px solid $light-pink;
        }
    }

    &--hero,
    &--ready {
        color: $white;
        border: none;
        background-color: $pink;
        padding: 1.6rem 5rem;
        box-shadow: 0 10px 15px -6px rgba(0, 0, 0, 0.25);
        margin-top: 3rem;

        &:hover {
            background-color: $light-pink;
        }
    }
}
